<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Earned!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>
<div action=>
  <form action="/action_page.php" id="url">
    Add to Blacklist:
    <input type="text" name="url" value="Enter website here:"><br>
    <input type="submit" onclick="addBlacklistItem()" value="Submit">
  </form>
  <button onclick="functionHere()" type="button">Show Blacklist in console output:</button>
</div>

<script type="text/javascript" src="/scripts/neo4jApi.js"></script>
